body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    padding: 4em; /* Verhoogde padding voor meer ruimte */
}

.container {
    max-width: 800px; /* Verhoogde breedte */
    margin: auto;
    background: white;
    padding: 3em; /* Verhoogde padding */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Verhoogde schaduw */
}

#woord-container {
    font-size: 2.5em; /* Grotere tekst */
    margin: 1.5em 0; /* Verhoogde marge */
}

button {
    font-size: 1.5em; /* Grotere knoppen */
    margin: 1em; /* Verhoogde marge */
    padding: 0.75em 1.5em; /* Verhoogde padding */
    cursor: pointer;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

#commentaar {
  background-color: #fff3cd;
  color: #856404;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1.5em;
  border: 1px solid #ffeeba;
}

